.toy-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;
    gap: 20px 0;
    margin: auto;
    text-align: center;

    >* {
        justify-self: center;
    }
}